body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    color: rgb(83, 81, 81);
}

.exphead {
    font-weight: bold;
    color: darkslategray;
    border: midnightblue;
}

h3 {
    font-size: x-large;
    background-color: rgb(238, 216, 219);
}

.justify {
    text-align: justify;
}

.ogbg {
    background-image: url(../assets/img/new\ leaves.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

ol {
    background-color: rgb(201, 197, 197);
}

.room {
    margin: 50;
}